td{
  border-style: groove;
}
table{
  border-style: groove;
  width: 200px;
}
.box{
  display: flex;
}
.trailer{
  margin-left: 40px;

}
.buttonTable{
  margin-left: 40px;
}
.resultTable{
  margin-left: 60px;
}
input{
  font-size: 15px;
}
body{
  color: white;
  background-color: black;
}
