td{
  border-style: groove;
}
table{
  border-style: groove;
}
.box{
  display: flex;
}
.trailer{
  margin-left: 100px;

}
.buttonTable{
  margin-left: 40px;
}
.resultTable{
  margin-left: 60px;
}
input{
  font-size: 15px;
}

